{

  "development": {
    "db_host"     : "localhost",
    "db"          : "scotchbox",
    "db_user"     : "root",
    "db_password" : "root"
  },

  "staging": {
    "db_host"     : "CHANGE_ME",
    "db"          : "CHANGE_ME",
    "db_user"     : "CHANGE_ME",
    "db_password" : "CHANGE_ME",

    "ssh_host"    : "birdbrain.io",
    "ssh_user"    : "birdio",

    "deploy_path" : "httpdocs/CHANGE_ME"
  },

  "test": {
    "db_host"     : "CHANGE_ME",
    "db"          : "CHANGE_ME",
    "db_user"     : "CHANGE_ME",
    "db_password" : "CHANGE_ME",

    "ssh_host"    : "CHANGE_ME",
    "ssh_user"    : "CHANGE_ME",

    "deploy_path" : "CHANGE_ME"
  },

  "production": {
    "db_host"     : "localhost",
    "db"          : "CHANGE_ME",
    "db_user"     : "CHANGE_ME",
    "db_password" : "CHANGE_ME",

    "ssh_host"    : "CHANGE_ME",
    "ssh_user"    : "CHANGE_ME",

    "deploy_path" : "/var/www/"
  },
}
