{

  "project"     : "hibiki",
  "repository"  : "CHANGE_ME",
  "token"       : "CHANGE_ME",

  "development": {
    "url"         : "hipflask.dev",
    "db_host"     : "scotchbox",
    "db_name"     : "scotchbox",
    "db_user"     : "root",
    "db_password" : "root"
  },

  "staging": {
    "db_host"     : "CHANGE_ME",
    "db_name"     : "CHANGE_ME",
    "db_user"     : "CHANGE_ME",
    "db_password" : "CHANGE_ME",

    "ssh_host"    : "CHANGE_ME",
    "ssh_user"    : "CHANGE_ME",

    "deploy_path" : "CHANGE_ME"
  },

  "test": {
    "db_host"     : "CHANGE_ME",
    "db_name"     : "CHANGE_ME",
    "db_user"     : "CHANGE_ME",
    "db_password" : "CHANGE_ME",

    "ssh_host"    : "CHANGE_ME",
    "ssh_user"    : "CHANGE_ME",

    "deploy_path" : "CHANGE_ME"
  },

  "production": {
    "db_host"     : "localhost",
    "db_name"     : "CHANGE_ME",
    "db_user"     : "CHANGE_ME",
    "db_password" : "CHANGE_ME",

    "ssh_host"    : "CHANGE_ME",
    "ssh_user"    : "CHANGE_ME",

    "deploy_path" : "/var/www/"
  }
}
